@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

body {
  background-color: #fff9db;
}
