form.create__note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form.create__note input,
form.create__note textarea {
  background-color: aliceblue;
  /* margin-bottom: 1px; */
  width: 100%;
  border: none;
  outline: none;
  padding: 4px;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.create__note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background-color: #f5ba13;
  color: aliceblue;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create__note button:hover {
  background-color: #eeb005;
}
