.contact {
  display: flex;
  color: white;
  justify-content: center;
  flex-direction: column;
  margin: 200px 100px;
  align-items: center;
}

.contact__container {
  border: 1px solid white;
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 20px;
}

.contact__container p {
  font-size: 20px;
  text-align: left;
  padding-bottom: 30px;
}

.contact__container p span {
  color: var(--theme-color) !important;
}

.contact__icons {
  display: flex;
  padding-left: 20px;
  gap: 20px;
  font-size: 25px;
}
